header.header {
    background-color: #ffffff;
    padding: 10px 15px; 
    overflow: hidden;
    white-space: nowrap; 
    box-shadow: var(--shadow);
}

header.header h1 {
    font-size: 1.4em;
    line-height: 1.2;   
}

header.header .lead {
    font-size: 1em;  
    line-height: 1.2;  
}
